<div style="height: 110px;">
  <div class="col-md-3">
    <dl class="dl-horizontal dl-inverse">
      <dt>Application Number</dt>
      <dd>1662</dd>
      <dt>Filing Date</dt>
      <dd>1662</dd>
      <dt>Continuity/Foreign</dt>
      <dd>&mdash;</dd>
    </dl>
  </div>
  <div class="col-md-6">
    <dl class="dl-horizontal dl-inverse">
      <dt>Title</dt>
      <dd>1662</dd>
      <dt>Status</dt>
      <dd>1662</dd>
    </dl>
  </div>

  <div class="col-md-3">
    <dl class="dl-horizontal dl-inverse">
      <dt>Examiner</dt>
      <dd>1662</dd>
      <dt>ID</dt>
      <dd>1662</dd>
      <dt>GAU</dt>
      <dd>1662</dd>
      <dt>Docket Category</dt>
      <dd>1662</dd>
    </dl>
  </div>
</div>

<div class="card">
  <div class="card-header">
    Application Information
  </div>
  <div class="card-block">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores, distinctio dicta illum vero iure cum tenetur doloremque repellendus veniam quis, corporis sit laudantium omnis mollitia! Atque quisquam doloribus doloremque sunt?
  </div>
</div>
