<div style="height: 110px;">
  <div class="col-md-3">
    <dl class="dl-horizontal dl-inverse">
      <dt>Application Number</dt>
      <dd>{{about.applicationName}}</dd>
      <dt>Filing Date</dt>
      <dd>{{about.filingDate}}</dd>
      <dt>Continuity/Foreign</dt>
      <dd>{{about.continuityForeign}}</dd>
    </dl>
  </div>
  <div class="col-md-6">
    <dl class="dl-horizontal dl-inverse">
      <dt>Title</dt>
      <dd>{{about.title}}</dd>
      <dt>Status</dt>
      <dd>{{about.status}}</dd>
    </dl>
  </div>

  <div class="col-md-3">
    <dl class="dl-horizontal dl-inverse">
      <dt>Examiner</dt>
      <dd>{{about.Examiner}}</dd>
      <dt>ID</dt>
      <dd>{{about.ID}}</dd>
      <dt>GAU</dt>
      <dd>{{about.GAU}}</dd>
      <dt>Docket Category</dt>
      <dd>{{about.docketCategory}}</dd>
    </dl>
  </div>
</div>

<div class="card">
  <div class="card-header">
    Application Information
  </div>
  <div class="card-block">
      <div style="height: 110px;">
          <div class="col-md-4">
            <dl class="dl-horizontal dl-inverse">
              <dt>SPE</dt>
              <dd>{{about.speList}}</dd>
              <dt>Applicant(s)</dt>
              <dd>{{about.applicantNames}}</dd>
              <dt>Inventor(s)</dt>
              <dd>{{about.inventorNames}}</dd>
              <dt>Law Firm</dt>
              <dd>{{about.lawFrim}}</dd>
            </dl>
          </div>
          <div class="col-md-4">
            <dl class="dl-horizontal dl-inverse">
              <dt>Confirmation Number</dt>
              <dd>{{about.applicationConfirmationNumber}}</dd>
              <dt>Publication Number</dt>
              <dd>{{about.publicationNumber}}</dd>
              <dt>Patent Number</dt>
              <dd>{{about.patentNumber}}</dd>
              <dt>Attorney Docket Number</dt>
              <dd>{{about.attorneyDocketNumber}}</dd>
            </dl>
          </div>
        
          <div class="col-md-4">
            <dl class="dl-horizontal dl-inverse">
              <dt>Foreign Priority</dt>
              <dd>{{about.foreignPriorityClaimed}}</dd>
              <dt>AIA(First Inventor To File)</dt>
              <dd>{{about.firstInventorToFileIndicator}}</dd>
              <dt>Type Entity</dt>
              <dd>{{about.businessEntityStatusCategory}}</dd>
              <dt>Examination GAU</dt>
              <dd>{{about.GAU}}</dd>
            </dl>
          </div>
        </div>
  </div>

  <div class="card">
      <div class="card-header">
        Application Information
      </div>
      <div class="card-block">
          <div style="height: 110px;">
              <div class="col-md-4">
                <dl class="dl-horizontal dl-inverse">
                  <dt>SPE</dt>
                  <dd>{{about.speList}}</dd>
                  <dt>Applicant(s)</dt>
                  <dd>{{about.applicantNames}}</dd>
                  <dt>Inventor(s)</dt>
                  <dd>{{about.inventorNames}}</dd>
                  <dt>Law Firm</dt>
                  <dd>{{about.lawFrim}}</dd>
                </dl>
              </div>
              <div class="col-md-4">
                <dl class="dl-horizontal dl-inverse">
                  <dt>Confirmation Number</dt>
                  <dd>{{about.applicationConfirmationNumber}}</dd>
                  <dt>Publication Number</dt>
                  <dd>{{about.publicationNumber}}</dd>
                  <dt>Patent Number</dt>
                  <dd>{{about.patentNumber}}</dd>
                  <dt>Attorney Docket Number</dt>
                  <dd>{{about.attorneyDocketNumber}}</dd>
                </dl>
              </div>
            
              <div class="col-md-4">
                <dl class="dl-horizontal dl-inverse">
                  <dt>Foreign Priority</dt>
                  <dd>{{about.foreignPriorityClaimed}}</dd>
                  <dt>AIA(First Inventor To File)</dt>
                  <dd>{{about.firstInventorToFileIndicator}}</dd>
                  <dt>Type Entity</dt>
                  <dd>{{about.businessEntityStatusCategory}}</dd>
                  <dt>Examination GAU</dt>
                  <dd>{{about.GAU}}</dd>
                </dl>
              </div>
            </div>
      </div>

      <div class="card">
          <div class="card-header">
            Application Information
          </div>
          <div class="card-block">
              <div style="height: 110px;">
                  <div class="col-md-4">
                    <dl class="dl-horizontal dl-inverse">
                      <dt>SPE</dt>
                      <dd>{{about.speList}}</dd>
                      <dt>Applicant(s)</dt>
                      <dd>{{about.applicantNames}}</dd>
                      <dt>Inventor(s)</dt>
                      <dd>{{about.inventorNames}}</dd>
                      <dt>Law Firm</dt>
                      <dd>{{about.lawFrim}}</dd>
                    </dl>
                  </div>
                  <div class="col-md-4">
                    <dl class="dl-horizontal dl-inverse">
                      <dt>Confirmation Number</dt>
                      <dd>{{about.applicationConfirmationNumber}}</dd>
                      <dt>Publication Number</dt>
                      <dd>{{about.publicationNumber}}</dd>
                      <dt>Patent Number</dt>
                      <dd>{{about.patentNumber}}</dd>
                      <dt>Attorney Docket Number</dt>
                      <dd>{{about.attorneyDocketNumber}}</dd>
                    </dl>
                  </div>
                
                  <div class="col-md-4">
                    <dl class="dl-horizontal dl-inverse">
                      <dt>Foreign Priority</dt>
                      <dd>{{about.foreignPriorityClaimed}}</dd>
                      <dt>AIA(First Inventor To File)</dt>
                      <dd>{{about.firstInventorToFileIndicator}}</dd>
                      <dt>Type Entity</dt>
                      <dd>{{about.businessEntityStatusCategory}}</dd>
                      <dt>Examination GAU</dt>
                      <dd>{{about.GAU}}</dd>
                    </dl>
                  </div>
                </div>
          </div>
</div>
