// .left, .right{
//     display: inline-block;
//     height: 100%;
// }

.left {
    width: 261px;
    background-color: #080808;
    height: 1912px;
}

// .right {
//     width: auto;
// }

.ex-container {
    display: flex;
}